* {
    --primary: #700B97;
    --bg: #19162B;
    --bg-second: #3C2055;
    --paragraf: #D5CFD7;
}
h1,h2,h3,h4,h5 {
    font-family: 'Montserrat', sans-serif;
}
p, span, a, small, li {
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #19162B;
}
.clear {
    clear: left;
}
.w-md-auto {
    width: auto;
}
.bg-second {
    background-color: var(--bg-second);
}
.paragraf {
    color: var(--paragraf);
}

/* FONT */
.font-18 {
    font-size: 18px;
}
.font-56 {
    font-size: 56px;
}
.font-64 {
    font-size: 64px;
}
.font-pop {
    font-family: 'Poppins', sans-serif;
}
.fw-medium {
    font-weight: 500;
}
.font-abu {
    color: #D5CFD7;
}

/* BUTTONS */
.hover-white {
    color: #fff;
}
.hover-white:hover {
    color: rgba(255, 255, 255, 0.5);
}
.btn-utama {
    background-color: #700B97;
    padding: 18px 30px;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
}
.btn-utama:hover {
    color: var(--bg);
}
.btn-utama-putih {
    background-color: #fff;
    padding: 18px 30px;
    border-radius: 50px;
    color: var(--primary);
    text-decoration: none;
}
.btn-utama-putih:hover {
    background-color: #ececec;
    box-shadow: 0 0 20px rgba(255, 255, 255, .6) ;
}
.btn-kedua {
    background: transparent;
    padding: 18px 30px;
    border-radius: 50px;
    color: #fff;
    border: 1px solid #fff;
}
.btn-kedua:hover,.btn-kedua-mini:hover {
    color: var(--primary);
    border: 1px solid var(--primary);
}
.btn-kedua-mini {
    background: transparent;
    padding: 9px 15px;
    border-radius: 50px;
    color: #fff;
    border: 1px solid #fff;
    font-size: 14px;
}

    /* NAVBAR */
    .navbar {
        position:fixed;
        top:0;
        right:0;
        left:0;
        z-index: 5;
        padding: 15px 0;
        transition: .2s;
    }
    .nav-scrolled {
        background: #3C2055;
        padding: 10px 0;
        transition: .2s;
    }
.navbar-brand img {
    width: 65px;
    transition: .2s;
}
.navbar-brand div {
    font-size: 24px;
    transition: .2s;
}
.nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.nav-scrolled {
    background: #3C2055;
    padding: 10px 0;
    transition: .2s;
}
.nav-scrolled .navbar-brand img {
    width: 50px;
    transition: .2s;
}
.nav-scrolled .navbar-brand div {
    font-size: 22px;
    transition: .2s;
}

/* FOOTER */
footer {
    margin-top: 100px;
    margin-bottom: 50px;
}
footer a {
    color: inherit;
}
footer .clear a:hover {
    opacity: .6;
}
footer ul li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, .6);
}
footer ul li a:hover {
    color: #fff;
}
footer .float-end:hover {
    color: rgba(255, 255, 255, 0.6);
}
footer .hr {
    margin-top: 70px;
    height: 3px;
    width: 100%;
    background-color: var(--primary);
}

/* == BREAKPOINT MD == */
@media screen and (max-width: 992px) {
    /* BUTTONS */
    .btn-utama {
        padding: 16px 27px;
        font-size: 16px;
    }
    .btn-kedua {
        padding: 16px 27px;
        font-size: 16px;
    }
    /* NAVBAR */
    .navbar {
        position:static;
        z-index:1030;
        padding: 15px 0;
        transition: .2s;
    }
    .nav-scrolled {
        position: fixed;
        top:0;
        right:0;
        left:0;
        background: #3C2055;
        padding: 10px 0;
        transition: .2s;
    }
    .nav-scrolled .navbar-brand div {
        font-size: 18px;
        transition: .2s;
    }
    .nav-scrolled .navbar-brand img {
        width: 45px;
        transition: .2s;
    }
    .navbar-brand img {
        width: 50px;
    }
    .navbar-brand div {
        font-size: 20px;
    }
    
}

/* == BREAKPOINT SM == */
@media screen and (max-width: 576px) {
    /* BUTTONS */
    .btn-utama {
        padding: 15px 25px;
        font-size: 14px;
    }
    .btn-kedua {
        padding: 15px 25px;
        font-size: 14px;
    }

    /* NAVBAR */
    .nav-scrolled .navbar-brand div {
        font-size: 16px;
        transition: .2s;
    }
    .nav-scrolled .navbar-brand img {
        width: 35px;
        transition: .2s;
    }
    .navbar-brand img {
        width: 40px;
    }
    .navbar-brand div {
        font-size: 18px;
    }
}