* {
    --primary: #700B97;
}
.font-18 {
    font-size: 18px;
}
.font-56 {
    font-size: 56px;
}
.font-64 {
    font-size: 64px;
}
.font-pop {
    font-family: 'Poppins', sans-serif;
}
.btn-utama {
    background-color: #700B97;
    padding: 18px 30px;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
}
.btn-utama-putih {
    background-color: #fff;
    padding: 18px 30px;
    border-radius: 50px;
    color: var(--primary);
    text-decoration: none;
}
.btn-kedua {
    background: transparent;
    padding: 18px 30px;
    border-radius: 50px;
    color: #fff;
    border: 1px solid #fff;
}
.btn-kedua:hover,.btn-kedua-mini:hover {
    color: var(--primary);
    border: 1px solid var(--primary);
}
.btn-kedua-mini {
    background: transparent;
    padding: 9px 15px;
    border-radius: 50px;
    color: #fff;
    border: 1px solid #fff;
    font-size: 14px;
}