* {
    font-family: 'Montserrat', sans-serif;
    --primary: #700B97;
    --bg: #19162B;
    --bg-second: #3C2055;
    --paragraf: #D5CFD7;
}

/* HERO */
.section-hero {
    height: 100vh;
    position: relative;
}
.section-hero .container {
    height: 100vh;
    flex-direction: column;
}
.section-hero::after {
    content: '';
    display: block;
    position: absolute;
    background-image: url(../img/hero-profil.png);
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    /* max-width:100%;height:auto */
}
.section-hero .tim {
    font-size: 42px;
}
.section-hero .quote {
    font-size: 72px;
    line-height: 1.2;
}
/* INTRO */
.section-intro {
    background-color: var(--bg-second);
}
/* ZIDAN */
.zidan .deskripsi {
    line-height: 1.7;
    color: var(--paragraf);
}
.zidan a:hover {
    opacity: 0.5;
}
/* HUMAM */
.humam {
    background-color: var(--bg-second);
}
.humam .deskripsi {
    line-height: 1.7;
    color: var(--paragraf);
}
/* SEKOLAH */
.sekolah {
    padding: 100px 0;
    overflow: hidden;
}
.blur {
    position: relative;
}
.sekolah p {
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.8;
}
.profile-img {
    width: 70%;
    margin: auto;
}
.embed-youtube {
    position: absolute;
    bottom: -40px;
    width: 80%;
}

.embed-youtube iframe {
    border-radius: 20px;
}

/* == BREAKPOINT MD == */
@media screen and (max-width: 992px) {
    /* HERO */
    .section-hero .tim {
        font-size: 38px;
    }
    .section-hero .quote {
        font-size: 64px;
        line-height: 1.2;
    }

    /* SEKOLAH */
    .profile-img {
        width: 80%;
        margin: auto;
    }
    .embed-youtube {
        bottom: 0;
        left: 50%;
        width: calc(80% - 24px);
        transform: translateX(-50%);
    }
}

/* BREAKPOINT SM */
@media screen and (max-width: 576px) {
    /* HERO */
    .section-hero .tim {
        font-size: 30px;
    }
    .section-hero .quote {
        font-size: 46px;
        line-height: 1.2;
    }
    .btn-utama {
        font-size: 14px;
        padding: 16px 27px;
    }
    .btn-utama:hover {
        padding: 13px 24px;
    }

    /* SEKOLAH */
    .profile-img {
        width: 100%;
    }

    .embed-youtube {
        width: calc(100% - 24px);
    }
}