* {
    font-family: 'Montserrat', sans-serif;
    --primary: #700B97;
    --bg: #19162B;
}

body {
    background-color: #19162B;
}
/* NAVBAR */
.navbar {
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:1030;
    padding: 15px 0;
    transition: .2s;
}
.navbar-brand img {
    width: 65px;
    transition: .2s;
}
.navbar-brand div {
    font-size: 24px;
    transition: .2s;
}
.nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.nav-scrolled {
    background: #3C2055;
    padding: 10px 0;
    transition: .2s;
}
.nav-scrolled .navbar-brand img {
    width: 50px;
    transition: .2s;
}
.nav-scrolled .navbar-brand div {
    font-size: 22px;
    transition: .2s;
}
/* HERO */
.section-hero {
    position: relative;
    padding-bottom: 200px;
}
.section-hero::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url(../img/wave-hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 440px;
    width: 350px;
    bottom: 150px;
    left: 0;
    z-index: -1;
}
.section-hero::after {
    content: '';
    display: block;
    position: absolute;
    background-image: url(../img/blur-hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    width: 900px;
    top: 0;
    right: 0;
    z-index: -1;
}
.section-hero h1 {
    font-size: 56px;
}
.section-hero p {
    font-size: 1.25rem;
}
.explore-btn {
    background-color: #700B97;
}
/* FITUR */
.section-fitur h1 {
    margin-bottom: 70px;
}
.section-fitur .box {
    background-color: #3C2055;
    border-radius: 20px;
}
.section-fitur .box .title-fitur {
    font-size: 18px;
}
.section-fitur .box p {
    color: #EAD2F3;
}


/* == BREAKPOINT MD == */
@media screen and (max-width: 992px) {
    /* NAVBAR */
    .navbar {
        position:unset;
    }
    .navbar-brand img {
        width: 50px;
    }
    .navbar-brand div {
        font-size: 20px;
    }
    /* HERO */
    .section-hero {
        text-align: center;
        padding-bottom: 100px;
    }
    .section-hero h1 {
        font-size: 45px;
    }
    .section-hero p {
        font-size: 18px;
    }
    .section-hero img {
        margin-top: 20px;
        width: 500px;
    }
    .section-hero::before {
        bottom: 660px;
        height: 270px;
        width: 240px;
        bottom: 200px;
    }
    .btn-utama {
        padding: 16px 27px;
        font-size: 16px;
    }
    .btn-kedua {
        padding: 16px 27px;
        font-size: 16px;
    }
    /* FITUR */
    .section-fitur h1 {
        margin-bottom: 30px;
    }
    .section-fitur .box {
        background-color: #3C2055;
        border-radius: 20px;
    }
    .section-fitur .box .title-fitur {
        font-size: 16px;
    }
    .section-fitur .box p {
        font-size: 14px;
    }
    /* .section-fitur img {
        width: 100px;
    } */
}


/* BREAKPOINT SM */
@media screen and (max-width: 576px) {
    .navbar-brand img {
        width: 40px;
    }
    .navbar-brand div {
        font-size: 18px;
    }
    .section-hero h1 {
        font-size: 32px;
    }
    .section-hero p {
        font-size: 16px;
    }
    .section-hero img {
        margin-top: 20px;
        width: 400px;
    }
    .section-hero::before {
        bottom: 590px;
        height: 281px;
        width: 242px;
    }
    .btn-utama {
        padding: 15px 25px;
        font-size: 14px;
    }
    .btn-kedua {
        padding: 15px 25px;
        font-size: 14px;
    }
    /* FITUR */
    .section-fitur .box {
        padding-top: 40px;
    }
    .section-fitur .box .title-fitur {
        font-size: 14px;
    }
    .section-fitur .box p {
        font-size: 12px;
    }
}