* {
    --primary: #700B97;
    --bg: #19162B;
    --bg-second: #3C2055;
}

body {
    background-color: #19162B;
}

/* SECTION HERO */
.section-hero {
    position: relative;
    padding-bottom: 200px;
}
.section-hero::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url(../img/wave-hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 440px;
    width: 350px;
    bottom: 150px;
    left: 0;
    z-index: -1;
}
.section-hero::after {
    content: '';
    display: block;
    position: absolute;
    background-image: url(../img/blur-hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    width: 900px;
    top: 0;
    right: 0;
    z-index: -1;
}
.section-hero h1, 
.section-download .title{
    font-size: 56px;
}
.section-hero p {
    font-size: 1.25rem;
}
.explore-btn {
    background-color: #700B97;
}
/* SECTION FITUR */
.section-fitur {
    margin-bottom: 200px;
}
.section-fitur h1 {
    margin-bottom: 70px;
}
.section-fitur .box {
    padding: 2px;
    position: relative;
    background: linear-gradient(150deg , #B800FF, #700B97, #2DDAC5);
    border-radius: 20px;
}
.section-fitur .box-isi {
    background-color: #3C2055;
    height: 100%;
    padding: 2px;
    border-radius: 20px;
}
.section-fitur .box .title-fitur {
    font-size: 18px;
}
.section-fitur .box p {
    color: #EAD2F3;
}
.fitur-img {
    z-index: 2;
    position: relative;
}
.box-fitur {
    border-radius: 10px;
    width: 100px;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 5px;
    transform: translate(-50%);
}
.box-audiobook {
    box-shadow: 0px 0px 50px 5px rgba(45, 218, 197, 0.5);
}
.box-podcast {
    box-shadow: 0px 0px 50px 5px rgba(112, 11, 151, 0.8);
}
.box-live {
    box-shadow: 0px 0px 50px 5px rgba(181, 29, 29, 0.8);
}
/* SECTION KATEGORI */
.section-kategori {
    margin-bottom: 200px;
}
.splide__track {
    padding: 40px 0;
}
.kategori-slide .splide__list .splide__slide:nth-child(even){
    margin-top: 100px;
}
.kategori-item {
    position: relative;
    transition: .3s;
}
.kategori-item:hover img{
    box-shadow: 0 0 40px rgba(111, 11, 151, 0.6);
    opacity: 1;
}
.kategori-item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0.5;
    transition: .2s;
}
.kategori-item h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
/* SECTION REKOMENDASI */
.section-rekomendasi {
    margin-bottom: 200px;
}
.card-podcast {
    padding: 16px 14px;
    background-color: var(--bg-second);
    border-radius: 10px;
}
.card-podcast img {
    border-radius: 10px;
}
.shadow-purple {
    -webkit-filter: drop-shadow(0 20px 35px rgba(183, 0, 255, 0.5));
    filter: drop-shadow(0 20px 35px rgba(183, 0, 255, 0.5));
}
/* SECTION TESTIMONI */
.section-test {
    margin-bottom: 200px;
}
.section-test .box {
    padding: 2px;
    position: relative;
    background: linear-gradient(150deg , #B800FF, #700B97, #2DDAC5);
    border-radius: 20px;
}
.section-test .box-isi {
    background-color: #3C2055;
    height: 100%;
    padding: 2px;
    border-radius: 20px;
}
.nama-tester {
    font-size: 18px;
}
/* SECTION DOWNLOAD */
.section-download {
    position: relative;
    background-color: var(--primary);
    background-image: url(../img/wave-download.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    margin-bottom: 200px;
}
.cta-download {
    padding-top: 120px;
    padding-bottom: 120px;
}
.scroll-app {
    position: relative;
    overflow: hidden;
}
.screen-app-hr {
    /* transform: translateX(-225px); */
    left: 0;
}
.scroll-app .screen-app-l,
.scroll-app .screen-app-r {
    position: absolute;
    width: 50%;
}
.scroll-app .screen-app-l {
    left: 0;
    top: 0;
}
.scroll-app .screen-app-r {
    right: 0;
    bottom: 0;
}
.section-download a {
    font-weight: 500;
}
.section-download .title {
    line-height: 1.2;
}

/* == BREAKPOINT MD == */
@media screen and (max-width: 992px) {
    /* HERO */
    .section-hero {
        text-align: center;
        padding: 120px 0 !important;
        /* padding-bottom: 100px; */
    }
    .section-hero p {
        font-size: 18px;
    }
    .section-hero img {
        margin-top: 20px;
        width: 500px;
    }
    .section-hero::after {
        top: -280px;
    }
    .section-hero::before {
        top: 100px;
        width: 200px;
        /* height: 270px; */
    }
    /* FITUR */
    .section-fitur {
        margin-bottom: 100px;
    }
    .section-fitur h1 {
        margin-bottom: 30px;
    }
    .section-fitur .box {
        background-color: #3C2055;
        border-radius: 20px;
    }
    .section-fitur .box .title-fitur {
        font-size: 18px;
    }
    .section-fitur .box p {
        font-size: 14px;
    }
    /* KATEGORI */
    .section-kategori {
        margin-bottom: 100px;
    }
    /* REKOMENDASI */
    .card .card-title {
        font-size: 18px;
    }
    .card p {
        font-size: 14px;
    }
    .card .icon {
        font-size: 14px;
    }
    .card .icon img {
        width: 20px;
        font-size: 14px;
    }
    /* DOWNLOAD */
    .section-download {
        margin-bottom: 100px;
    }
    .scroll-app .screen-app-r {
        width: 100%;
    }
}


/* BREAKPOINT SM */
@media screen and (max-width: 576px) {
    /* HERO */
    .section-hero {
        padding-bottom: 50px;
    }
    .section-hero h1,
    .section-download .title {
        font-size: 40px;
    }
    .section-hero p {
        font-size: 16px;
    }
    .section-hero img {
        margin-top: 20px;
        width: 400px;
    }
    .section-hero::before {
        bottom: 500px;
        height: 181px;
        width: 142px;
    }
    /* FITUR */
    .section-fitur {
        margin-bottom: 100px;
    }
    .section-fitur .box .title-fitur {
        font-size: 14px;
    }
    .section-fitur .box p {
        font-size: 12px;
    }
    .box-fitur {
        width: 70px;
    }
    /* REKOMENDASI */
    .section-rekomendasi {
        margin-bottom: 100px;
    }
    .card {
        width: 90%;
        margin: 0 auto;
    }
    .card .card-title {
        font-size: 16px;
    }
    .card p {
        font-size: 12px;
    }
    .card .icon {
        font-size: 12px;
    }
    .card .icon img {
        width: 18px;
    }
    /* TESTIMONI */
    .section-test .box p {
        font-size: 14px;
    }
    .test-profil p {
        font-size: 16px;
    }
    .test-profil small {
        font-size: 12px;
    }
    .w-md-auto {
        width: 100%;
    }
    /* DOWNLOAD */
    .section-download {
        background-position: left center;
    }
    .cta-download {
        padding-bottom: 80px;
    }
    .screen-app-hr {
        margin-bottom: 100px;
    }
}